body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

input{
  text-transform: uppercase;
  border-color: #bebebe;
  border-width: 1px;
  border-radius: 6px;
  height: 30px;
}

.label {
  color: black;
  vertical-align: middle;
  padding: auto;
  margin-top: 6px;
}

.message {
  color: #000000;
  font-weight: bold;
  vertical-align: middle;
  padding: auto;
  margin-top: 6px;
}

#navbar {
  height: 70px;
  background-color: #26a343;
  color: white;
  box-shadow: #717171 0px 4px 6px;
  position: sticky;
}

#app-name{
  padding-left: 32px;
  padding-top: 6px;
  font-size: 48px;
}

#mainForm {
  display: grid;
  grid-template-columns: 200px 400px;
  column-gap: 32px;
  row-gap: 16px;
  margin: 32px;
  width: 600px;
}

#btnCheckRestriction{
  background-color: #26a343;
  border-width: 0px;
  color: #FFFFFF;
  box-shadow: #717171 0px 2px 3px;
  font-weight: bold;
  font-size: 16px;;
  border-radius: 9px;
  height: 32px;
}